<!-- Modal trigger -->
<button id="signup" class="btn btn-primary btn-large" data-toggle="modal" data-target="#emailmodal">
  Sign up now!
</button>

<!-- Modal -->
<div id="emailmodal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="email"
     aria-hidden="true">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Register your email address</h3>
  </div>

  <div class="modal-body">
    <p>
      Thoughtsy is currently in development and is expected to be ready for beta release
      by November 2013.  Sign up with your email address to be notified of the release and be
      one of the first to test it out!
    </p>
  </div>
  <div class="modal-body">
    <%= form_for @email do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :email %>
      <%= f.text_field :email %>
  </div>
  <div class="modal-footer">
    <%= f.submit "Sign up", class: "btn btn-large btn-primary" %>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <% end %>
  </div>
</div>